# Polars file skipping with Delta Lake

In [15]:
import polars as pl
from deltalake import DeltaTable

In [16]:
pl.Config.set_ascii_tables(True)

polars.config.Config

In [17]:
df = pl.DataFrame({"name": ["alice", "cat", "joy"], "age": [12, 35, 46]})

In [18]:
df.write_delta("tmp/a_table")

In [19]:
df = pl.DataFrame({"name": ["allan", "brian", "linda"], "age": [34, 35, 78]})

In [20]:
df.write_delta("tmp/a_table", mode="append")

In [21]:
!tree tmp/a_table

tmp/a_table
├── 0-4c98d726-1f7e-40a5-bfc5-325000e7c01f-0.parquet
├── 1-58bea1e5-c2fe-4c0f-b835-7de6aab4ef9c-0.parquet
└── _delta_log
    ├── 00000000000000000000.json
    └── 00000000000000000001.json

1 directory, 4 files

In [23]:
print(pl.scan_delta("tmp/a_table").filter(pl.col("age") < 20).collect())

shape: (1, 2)
+-------+-----+
| name  | age |
| ---   | --- |
| str   | i64 |
+=============+
| alice | 12  |
+-------+-----+

In [ ]:
select * from the_table where age < 20