# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pokemon').getOrCreate()
spark

### Step 2. Create a data dictionary that looks like the DataFrame below

In [4]:
data = [("Ivysaur",45,"Bulbasaur","yes","grass"),
        ("Charmeleon",39,"Charmander","no","fire"),
        ("Wartortle",44,"Squirtle","yes","water"),
        ("Metapod",45,"Caterpie","no","bug")]
  
# giving column names of dataframe
columns = ["evolution", "hp", "name","pokedex", "type"]

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called pokemon

In [5]:
# creating a dataframe df
pokemon = spark.createDataFrame(data, columns)
pokemon.show()

+----------+---+----------+-------+-----+
| evolution| hp|      name|pokedex| type|
+----------+---+----------+-------+-----+
|   Ivysaur| 45| Bulbasaur|    yes|grass|
|Charmeleon| 39|Charmander|     no| fire|
| Wartortle| 44|  Squirtle|    yes|water|
|   Metapod| 45|  Caterpie|     no|  bug|
+----------+---+----------+-------+-----+

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [7]:
cols_to_show = ["name", "type", "hp", "evolution", "pokedex"]
pokemon = pokemon.select(*cols_to_show)
pokemon.show()

+----------+-----+---+----------+-------+
|      name| type| hp| evolution|pokedex|
+----------+-----+---+----------+-------+
| Bulbasaur|grass| 45|   Ivysaur|    yes|
|Charmander| fire| 39|Charmeleon|     no|
|  Squirtle|water| 44| Wartortle|    yes|
|  Caterpie|  bug| 45|   Metapod|     no|
+----------+-----+---+----------+-------+

### Step 5. Add another column called place, and insert what you have in mind.

In [9]:
# pokemon['place'] = ['park','street','lake','forest']

#trying to find an answer

### Step 6. Present the type of each column

In [10]:
pokemon.printSchema()

root
 |-- name: string (nullable = true)
 |-- type: string (nullable = true)
 |-- hp: long (nullable = true)
 |-- evolution: string (nullable = true)
 |-- pokedex: string (nullable = true)

### BONUS: Create your own question and answer it.