# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('housing').getOrCreate()
spark

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
import numpy as np
import pandas as pd

In [3]:
r1 = list(map(int, list(np.random.randint(low=1, high=5, size=100))))
print(r1)
print(type(r1))
print(type(r1[0]))

[2, 3, 1, 1, 3, 4, 4, 3, 3, 2, 4, 1, 2, 1, 1, 3, 3, 3, 4, 3, 4, 2, 1, 4, 1, 2, 2, 1, 3, 2, 3, 3, 4, 2, 2, 4, 4, 4, 1, 3, 3, 3, 4, 3, 1, 2, 2, 3, 1, 2, 2, 4, 4, 2, 4, 2, 4, 4, 1, 2, 2, 2, 1, 4, 2, 2, 1, 2, 4, 1, 2, 2, 3, 1, 3, 2, 4, 2, 2, 2, 2, 3, 4, 3, 1, 2, 3, 2, 1, 4, 3, 1, 3, 3, 1, 1, 1, 4, 2, 1]
<class 'list'>
<class 'int'>

In [4]:
r2 = list(map(int, list(np.random.randint(low=1, high=4, size=100))))
print(r2)
print(type(r2))
print(type(r2[0]))

[1, 3, 1, 2, 2, 2, 1, 3, 2, 2, 3, 2, 1, 3, 1, 3, 1, 2, 2, 1, 1, 3, 3, 2, 1, 3, 1, 1, 1, 3, 3, 1, 2, 1, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1, 3, 2, 3, 2, 2, 1, 2, 2, 3, 2, 2, 3, 2, 3, 2, 2, 3, 3, 2, 3, 2, 2, 1, 1, 2, 1, 1, 3, 3, 3, 2, 2, 2, 1, 2, 2, 2, 1, 3, 2, 2, 2, 3, 1, 1, 2, 1, 1, 1, 1, 3, 2, 1, 1, 2, 2]
<class 'list'>
<class 'int'>

In [5]:
r3 = list(map(int, list(np.random.randint(low=10000, high=30001, size=100))))
print(r3)
print(type(r3))
print(type(r3[0]))

[19251, 20692, 28636, 11382, 17866, 16892, 11944, 26508, 21078, 17809, 16348, 11326, 21235, 26700, 16368, 18024, 12547, 14566, 19052, 13310, 17871, 25421, 18148, 13638, 22001, 13197, 10803, 20837, 17731, 27969, 13459, 22946, 24510, 14241, 25259, 13106, 23615, 12339, 18435, 20183, 27219, 23620, 29376, 15957, 16831, 23508, 26873, 17767, 20840, 12765, 25270, 28943, 17316, 17740, 21886, 18154, 18395, 21238, 16141, 25060, 20948, 10765, 10428, 15302, 25465, 22898, 17043, 28342, 22550, 18083, 16694, 20149, 29526, 12389, 28817, 18420, 20989, 19624, 20608, 10605, 22838, 22324, 25118, 24155, 24100, 17965, 20427, 19085, 21422, 28444, 11810, 17682, 12890, 28848, 18079, 22207, 12062, 20965, 29665, 13117]
<class 'list'>
<class 'int'>

### Step 3. Let's create a DataFrame by joinning the Series by column

In [6]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [7]:
#tring to find an answer

In [16]:
from pyspark.sql import Row

In [27]:
data = list(zip(r1, r2, r3))

In [30]:
# giving column names of dataframe
columns = ["R1", "R2", "R3"]
  
# creating a dataframe
dataframe = spark.createDataFrame(data, columns)
dataframe.head(2)

[Row(R1=2, R2=1, R3=19251), Row(R1=3, R2=3, R3=20692)]

In [31]:
dataframe.show(5)

+---+---+-----+
| R1| R2|   R3|
+---+---+-----+
|  2|  1|19251|
|  3|  3|20692|
|  1|  1|28636|
|  1|  2|11382|
|  3|  2|17866|
+---+---+-----+
only showing top 5 rows

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [35]:
# dataframe = dataframe.withColumnRenamed(["R1","R2","R3"],["bedrs","bathrs","price_sqr_meter"])
dataframe = dataframe.withColumnRenamed('R1','bedrs').withColumnRenamed('R2', 'bathrs').withColumnRenamed('R3', 'price_sqr_meter')

dataframe.show(2)

+-----+------+---------------+
|bedrs|bathrs|price_sqr_meter|
+-----+------+---------------+
|    2|     1|          19251|
|    3|     3|          20692|
+-----+------+---------------+
only showing top 2 rows

In [49]:
dataframe.printSchema()

root
 |-- bedrs: long (nullable = true)
 |-- bathrs: long (nullable = true)
 |-- price_sqr_meter: long (nullable = true)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [39]:
bigColumn = []
bigColumn.extend(r1)
print(len(bigColumn))

bigColumn.extend(r2)
print(len(bigColumn))

bigColumn.extend(r3)
print(len(bigColumn))

100
200
300

In [41]:
print(bigColumn)

[2, 3, 1, 1, 3, 4, 4, 3, 3, 2, 4, 1, 2, 1, 1, 3, 3, 3, 4, 3, 4, 2, 1, 4, 1, 2, 2, 1, 3, 2, 3, 3, 4, 2, 2, 4, 4, 4, 1, 3, 3, 3, 4, 3, 1, 2, 2, 3, 1, 2, 2, 4, 4, 2, 4, 2, 4, 4, 1, 2, 2, 2, 1, 4, 2, 2, 1, 2, 4, 1, 2, 2, 3, 1, 3, 2, 4, 2, 2, 2, 2, 3, 4, 3, 1, 2, 3, 2, 1, 4, 3, 1, 3, 3, 1, 1, 1, 4, 2, 1, 1, 3, 1, 2, 2, 2, 1, 3, 2, 2, 3, 2, 1, 3, 1, 3, 1, 2, 2, 1, 1, 3, 3, 2, 1, 3, 1, 1, 1, 3, 3, 1, 2, 1, 2, 1, 3, 2, 2, 1, 3, 1, 1, 1, 3, 2, 3, 2, 2, 1, 2, 2, 3, 2, 2, 3, 2, 3, 2, 2, 3, 3, 2, 3, 2, 2, 1, 1, 2, 1, 1, 3, 3, 3, 2, 2, 2, 1, 2, 2, 2, 1, 3, 2, 2, 2, 3, 1, 1, 2, 1, 1, 1, 1, 3, 2, 1, 1, 2, 2, 19251, 20692, 28636, 11382, 17866, 16892, 11944, 26508, 21078, 17809, 16348, 11326, 21235, 26700, 16368, 18024, 12547, 14566, 19052, 13310, 17871, 25421, 18148, 13638, 22001, 13197, 10803, 20837, 17731, 27969, 13459, 22946, 24510, 14241, 25259, 13106, 23615, 12339, 18435, 20183, 27219, 23620, 29376, 15957, 16831, 23508, 26873, 17767, 20840, 12765, 25270, 28943, 17316, 17740, 21886, 18154, 18395, 21238, 16141, 25060, 20948, 10765, 10428, 15302, 25465, 22898, 17043, 28342, 22550, 18083, 16694, 20149, 29526, 12389, 28817, 18420, 20989, 19624, 20608, 10605, 22838, 22324, 25118, 24155, 24100, 17965, 20427, 19085, 21422, 28444, 11810, 17682, 12890, 28848, 18079, 22207, 12062, 20965, 29665, 13117]

In [46]:
big_data = list(zip(bigColumn))
column = ['values']
bigColumnDF = spark.createDataFrame(big_data, column)
bigColumnDF.head(2)

[Row(values=2), Row(values=3)]

In [47]:
bigColumnDF.show(5)

+------+
|values|
+------+
|     2|
|     3|
|     1|
|     1|
|     3|
+------+
only showing top 5 rows

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [48]:
print(bigColumnDF.count())

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299