# Delta Lake pandas constraints

In [1]:
import pandas as pd
from deltalake import DeltaTable, write_deltalake

## Create Delta table

In [2]:
df = pd.DataFrame({"name": ["mary", "joe", "sue"], "age": [11, 22, 33]})

In [3]:
write_deltalake("tmp/cool-table", df)

In [4]:
DeltaTable("tmp/cool-table").to_pandas()

   name  age
0  mary   11
1   joe   22
2   sue   33

## Add a constraint

In [5]:
dt = DeltaTable("tmp/cool-table")
dt.alter.add_constraint({"age_gt_0": "age > 0"})

## Check constraint works

In [6]:
df2 = pd.DataFrame({"name": ["tom", "luis"], "age": [65, -45]})

In [7]:
write_deltalake("tmp/cool-table", df2, mode="append", engine="rust")

DeltaProtocolError: Invariant violations: ["Check or Invariant (age > 0) violated by value in row: [luis, -45]"]

## Check no data was added

In [8]:
DeltaTable("tmp/cool-table").to_pandas()

   name  age
0  mary   11
1   joe   22
2   sue   33