In [5]:
from deltalake import DeltaTable
import pandas as pd
from pathlib import Path

## Run queries on Delta table with pandas

In [6]:
path = f"{Path.home()}/data/deltalake_baseline_G1_1e9_1e2_0_0"

In [7]:
dt = DeltaTable(path)

In [9]:
%%time
(
    dt.to_pandas(filters=[("id1", "==", "id016")], columns=["id1", "id2", "v1"])
    .query("id1 == 'id016'")
    .groupby("id2")
    .agg({"v1": "sum"})
)

CPU times: user 1min 7s, sys: 1.51 s, total: 1min 9s
Wall time: 1min 7s

                                                      v1
id2
id001  5413334115411131444111211215135424141111135122...
id002  3513425325315321123254523434122334525144115542...
id003  3331513322443552124514455231251533425214413135...
id004  3554452514412353423231533425541345311225345542...
id005  2534353242344422134143544543222423415313131335...
...                                                  ...
id096  5135221131514421342325135152131515241145235435...
id097  1144141245311113545155444421332544134544542445...
id098  5342321411412142311452342514212524224215222534...
id099  5152244212344324112521514243524452543334311541...
id100  5525254141222321525343421335453345334531224341...

[100 rows x 1 columns]

## Z Order 50 GB dataset

In [10]:
%%time
dt.optimize.z_order(["id1"])

thread 'tokio-runtime-worker' panicked at 'overflow', /Users/runner/.cargo/registry/src/github.com-1ecc6299db9ec823/arrow-select-39.0.0/src/interleave.rs:172:56
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

DeltaError: Generic error: task 334 panicked

## Z Order 5 GB

In [13]:
df = pd.read_csv(f"{Path.home()}/data/G1_1e8_1e2_0_0.csv")

In [14]:
from deltalake.writer import write_deltalake

In [17]:
path = f"{Path.home()}/data/deltalake_baseline_G1_1e8_1e2_0_0"

In [18]:
write_deltalake(path, data=df)

In [19]:
dt = DeltaTable(path)

In [20]:
%%time
(
    dt.to_pandas(filters=[("id1", "==", "id016")], columns=["id1", "id2", "v1"])
    .query("id1 == 'id016'")
    .groupby("id2")
    .agg({"v1": "sum"})
)

CPU times: user 4.29 s, sys: 604 ms, total: 4.89 s
Wall time: 953 ms

          v1
id2
id001  29918
id002  30343
id003  30180
id004  30581
id005  30769
...      ...
id096  30011
id097  29728
id098  30131
id099  30141
id100  29743

[100 rows x 1 columns]

In [21]:
%%time
dt.optimize.z_order(["id1"])

CPU times: user 3min 4s, sys: 12.4 s, total: 3min 17s
Wall time: 3min 18s

{'numFilesAdded': 16,
 'numFilesRemoved': 10,
 'filesAdded': {'min': 96009746,
  'max': 106859356,
  'avg': 106098635.875,
  'totalFiles': 16,
  'totalSize': 1697578174},
 'filesRemoved': {'min': 167410637,
  'max': 311952314,
  'avg': 297489865.5,
  'totalFiles': 10,
  'totalSize': 2974898655},
 'partitionsOptimized': 0,
 'numBatches': 1,
 'totalConsideredFiles': 10,
 'totalFilesSkipped': 0,
 'preserveInsertionOrder': True}

In [22]:
%%time
(
    dt.to_pandas(filters=[("id1", "==", "id016")], columns=["id1", "id2", "v1"])
    .query("id1 == 'id016'")
    .groupby("id2")
    .agg({"v1": "sum"})
)

CPU times: user 3.34 s, sys: 182 ms, total: 3.52 s
Wall time: 544 ms

          v1
id2
id001  29918
id002  30343
id003  30180
id004  30581
id005  30769
...      ...
id096  30011
id097  29728
id098  30131
id099  30141
id100  29743

[100 rows x 1 columns]